/*the textarea that gets rendered when a textelement is dropped into the layout */
.dashboard_textarea{
    margin:20px 0 0 10px;
    width:90%;
    height:50%;
}

.dashboard_input_font{
    width:30px!important;
    margin:5px 5px 0px 5px;
    float:left;
}

.dashboard_font_label{
    margin: 10px 3px 0 10px;
    float:left;
}

.submit_button{
    float:left;
    margin:3px 3px 0px 2px;
}

.italic_button{
    margin:3px 3px 0px 2px;

}

.textfield_text{
    width:200px;
    margin: 20px 0 0 10px;
}

.textfield_saved_mode{
    display:none
}

.textfield_save,.textfield_edit{
    float:left;
    margin:5px 0 0 10px;
}

.textfield_delete{
    margin:5px 0 0 0px;
}
