
/* BODY */
body,#w7_gadget_container {width:500px; height:350px;}

#w7_imgBackground{
    position:absolute;
    z-index:0;
    background-image:url('images/Default.png');
}

/* FORM */
#w7_login-container{
    position:absolute;
    top:20px;
    left:20px;
}
