/* The title input fields*/
.dashboard_input_tile{
   border:1px solid #777;
    font-size:1.5em;
    margin:30px 5px 0px 10px;
    width:80%!important;
    height:1.5em;
}

/*The input Subtitle */
.dashboard_input_subtitle{
   border:1px solid #777;
    font-size:1.5em;
    margin:5px 5px 0px 10px;
    width:80%!important;
    height:1.5em;
}

/* the title button for the submit */
.dashboard_title_button{
    margin:5px 0 0 10px;
}

/*Input box that gets rendered in the edit mode*/
.dashboard_input_title_final{
    display:none;
    font-size:1.5em;
    margin:5px 5px 0px 10px;
    padding-top:30px;
    width:80%!important;
}

/*Input box that gets rendered in the edit mode*/
.dashboard_input_subtitle_final{
    font-size:1.2em;
    display:none;
    margin:5px 5px 0px 10px;
    width:80%!important;
    padding-top:10px;
}

/*Hover effect of the input title */
.dashboard_input_title_final span:hover{
    background-color:#6E8596;
    cursor:pointer;
}

/*Hover effect of the input subtitle */
.dashboard_input_subtitle_final span:hover{
    background-color:#6E8596;
    cursor:pointer;
}


