/*The dasboard options*/
#dashboard_options{
    display:none;
}

/*The bottomline of the dashboard options */
.nav_bottom {
    background:url("/dev/_images/content_bl.png") no-repeat scroll left bottom transparent;
    height:5px;
    padding:0 0 0 10px;
}

/*The bottomline of the dashboard options */
.nav_bottom_inner {
    background:url("/dev/_images/content_br.png") no-repeat scroll right bottom transparent;
    height:5px;
}

/*The topline of the dashboard options */
.nav_top {
    background:url("/dev/_images/content_tl.gif") no-repeat scroll left bottom transparent;
    height:5px;
    padding:0 0 0 10px;
}

/*The topline of the dashboard options */
.nav_top_inner {
    background:url("/dev/_images/content_tr.gif") no-repeat scroll right bottom transparent;
    height:5px;
}

/*The header of the accordion in the dashboard part*/
.dashboard_accordion_header {
    color: #fff;
    background-color: #454A4F;
    padding: 5px 0 5px 0;
    text-align: center;
    width:200px;
    display:block;
}
/*the hover on the accordion headers */
.dashboard_accordion_header:hover{
    background-color:#006E96;
    text-decoration: none;
}
/*list with all the dashboard options, these can be found in the accordion*/
#dashboard_accordeon ul{
    margin:5px;
    padding:0px;
}

/* A single element aka a dashboard option */
#dashboard_accordeon ul li{
    list-style:none;
    width:185px;
}

#dashboard_accordeon ul li:hover{
    background-color:#006E96;
    color:#fff;
    border:2px solid #999;
    cursor:pointer;
}

/* The image that represents the option */
#dashboard_accordeon img{
    float:left;
    padding-right:5px;
}

/*the title of the option */
.dashboard_layout_titel{
    font-size:0.95em;
    font-weight: bold;
}

/*the text of the option */
.dashboard_layout_text{
    font-size:0.9em;
}

/*the inner accordion divs, where you can find the uls */
.dashboard_accordeon_inner{
    margin-bottom:30px;
}

/* A hr to seperate the ils, because float: left doesn't work */
.dashboard_accordeon_inner hr{
    display:block;
    clear:left;
    margin:0;
    visibility:hidden;
    padding-top:5px
}

/* The template for the content */
.contentTemplate {
    margin-top:30px;
}

/* The template div */
.contentTemplateDiv{
    width:210px;
    height:500px;
    background-color:#ccc;
    float:left;
    margin-right:3px;
    overflow:hidden;
}

/* The header of the dashboard*/
.dashBoardHeader{
    width:637px;
    background-color:#ccc;
    height:110px;
    margin-bottom:5px;
}

/* The title input fields*/
.dashboard_input_tile{
   border:1px solid #777;
    font-size:1.5em;
    margin:30px 5px 0px 10px;
    width:80%!important;
    height:1.5em;
}

/*The input Subtitle */
.dashboard_input_subtitle{
   border:1px solid #777;
    font-size:1.5em;
    margin:5px 5px 0px 10px;
    width:80%!important;
    height:1.5em;
}

/* the title button for the submit */
.dashboard_title_button{
    margin:5px 0 0 10px;
}

/*Input box that gets rendered in the edit mode*/
.dashboard_input_title_final{
    display:none;
    font-size:1.5em;
    margin:5px 5px 0px 10px;
    padding-top:30px;
    width:80%!important;
}

/*Input box that gets rendered in the edit mode*/
.dashboard_input_subtitle_final{
    font-size:1.2em;
    display:none;
    margin:5px 5px 0px 10px;
    width:80%!important;
    padding-top:10px;
}

/*Hover effect of the input title */
.dashboard_input_title_final span:hover{
    background-color:#6E8596;
    cursor:pointer;
}

/*Hover effect of the input subtitle */
.dashboard_input_subtitle_final span:hover{
    background-color:#6E8596;
    cursor:pointer;
}

/*The delete x button */
.dashboard_delete_element{
    display:none;
    z-index:9999;
    cursor:hand;
}

.dashboard_border{
    border-style:dashed;
    border-color:#666;
}

.pgNext, .pgPrev{
    display:none!important;
}
