/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */


/* TODO CONTENT */


#todo_li_head_done{
    width:40px;
}

#todo_li_head_task{
    width:200px;
}

#todo_li_head_priority{
    width:60px;
}

#todo_li_head_date{
    width:100px;
}

.errorStyle{
    background-color:#FF6262;
}
.normalStyle{
    background-color:#FFFFFF;
}

#todo_date{
width:70px;
}

#todo_subject{
width:170px;
}


#todo_widget {
}

#todo_btn_add {
	width:50px;
   
}

#todo_list ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#todo_list ul li { 
    display: inline-block;
    vertical-align:top;
}

#todo_list a{
    font-color:#000000;
}

#todo_list a:hover{
    background-color:#FFFF99;
    text-decoration:none;
}

#todo_li_done{
    width:30px;
}

#todo_li_task{
    width:200px;
}

#todo_li_priority{
    width:60px;
}

#todo_li_date{
    width:100px;
}



#todo_add_form{
    padding:13px 6px 0;
}

/* Pager CSS (overriden) */

.sakai_pager li { float: left; display:inline-block; list-style:none; font-size:0.95em; height:18px; background: transparent url(../../_images/pager-left.png) top left no-repeat; margin:0px 5px;} .sakai_pager li > span {display:inline-block;background: url(../../_images/pager-right.png) top right no-repeat; margin:0;  border:none; font-weight: bold; cursor: pointer; height: 18px; margin-right: -5px;padding:1px 10px 0px 10px;color:#006e96;}
.sakai_pager li.dots {margin-left:10px; clear:none;}