/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */


/* TODO CONTENT */

#todo_header {
    text-align:center;
}

#todo_widget {
    width:500px;
    height:300px;
}

#todo_table {
    height:230px;
}

#thDate, #thDone, #thPriority, #thTask {
    text-align:left;
}

#thDate {
    width:100px;
}

#thDone {
    width:60px;
}

#thPriority {
    width:60px;
}

#thTask {
    width:280px;
}

#subject {
    width:340px;
}

#date {
    width:60px;
}

#button {
    width:100px;
}