/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */


/* TODO CONTENT */

#todo_widget {
/*
    width:100%;
    height:100%;
*/
    height:100%;
 
}

#todo_table {
    /*height:230px;*/
	/*height:45%;*/
}

#todo_input {
	position:absolute;
	bottom:0px;
}

#thDate, #thDone, #thPriority, #thTask {
    text-align:left;
}

#thDate {
    /*width:100px;*/
	width:20%;
}

#thDone {
    /*width:60px;*/
	width:12%;
}

#thPriority {
    /*width:60px;*/
	width:12%;
}

#thTask {
    /*width:280px;*/
	width:56%;
}

#subject {
    /*width:340px;*/
	width:68%;
}

#date {
    /*width:60px;*/
	width:12%;
}

#button {
	/*width:100px;*/
    width:20%;
}